{% extends "pages/page.html" %}
{% load geoanalytics_tags pages_tags mezzanine_tags %}

{% block main %}
    {% set_page_permissions page %}

<div class='row'>
    {% editable page.timeSeries.description %}
       {{ page.timeSeries.description|safe|richtext_filters }}
    {% endeditable %}
</div>

<h4>URL and Namespace</h4>
<div class='row'>
{% if page.timeSeries.resource_url %}
    <a class='btn' href='{{page.timeSeries.resource_url}}'>Time Series Url</a>
{% elif page.timeSeries.resource_url %}
    <a class='btn' href='{{page.timeSeries.resource_url}}'>Time Series Namespace</a>
{% endif %}
</div>

<hr/>
<div class='row'>
    <ul class='list-group'>
        {% editable page.timeSeries.discoverable %}
        <li class='list-group-item'><b>Creator:</b> {{ page.timeSeries.creator }}</li>
        {% endeditable %}
        <li class='list-group-item'><b>Created on</b> {{ page.created|date:"SHORT_DATETIME_FORMAT" }}</li>
        <li class='list-group-item'><b>Last modified by:</b> {{ page.timeSeries.last_changed_by.username }}</li>
        <li class='list-group-item'><b>Modified on</b> {{ page.updated|date:"SHORT_DATETIME_FORMAT" }}</li>
        {% editable page.timeSeries.public %}
        <li class='list-group-item'><b>Publicly viewable:</b> {{ page.timeSeries.public|yesno }}</li>
        {% endeditable %}
        {% editable page.timeSeries.frozen %}
        <li class='list-group-item'><b>Published:</b> {{ page.timeSeries.published_and_frozen|yesno }}</li>
        {% endeditable %}
        {% editable page.timeSeries.do_not_distribute %}
        <li class='list-group-item'><b>Do Not Distribute:</b> {{ page.timeSeries.do_not_distribute|yesno }}</li>
        {% endeditable %}
        {% editable page.timeSeries.discoverable %}
        <li class='list-group-item'><b>Discoverable:</b> {{ page.timeSeries.discoverable|yesno }}</li>
        {% endeditable %}
    </ul> 
    <h5>Owners</h5>
    <div class='list-group'>
        {% editable page.timeSeries.owners %} 
        {% for owner in page.timeSeries.owners.all %}
        <a class='list-group-item' href='mailto:{{ page.timeSeries.owner.email }}'>
             {% if owner.first_name %}
                {{ owner.first_name }} {{ page.timeSeries.owner.last_name }}
             {% else %}
                {{ owner.username }}
             {% endif %}
	</a>
        {% endfor %}
        {% endeditable %}
    </div>
</div>

<h4>Dublin Core Metadata</h4>
<table class="table table-striped">
{% for m in page.timeSeries.dublin_metadata.all %}
<tr> 
<td>{{m.term_name}}</td>
<td>{{m.qualifier}}</td>
<td>{{m.content}}</td>
</tr>
{% endfor %}
</table>

<h4>Keywords</h4>

<ul class='list-group'>
    {% editable page.keywords %} 
    {% for keyword in page.keywords.all %}
    <li class='list-group-item'>{{ keyword }}</li>
    {% endfor %}
    {% endeditable %}
</ul>
    
    {% include 'pages/includes/page_permissions_editor.html' %}

{% endblock %}
