{% extends "hydroshare/res.html" %}
{% load geoanalytics_tags pages_tags mezzanine_tags keyword_tags comment_tags %}

{% block resource %}
<div class='row'>
<h4>URL and Namespace</h4>
{% if page.timeseries.resource_url %}
    <h5>Every hydroserver time series has a WSDL url and a namespace.</h5>
    <h5>In your case, your url is </h5>
    <a class='btn' href='{{page.timeseries.resource_url}}'>{{page.timeseries.resource_url}}</a>
{% endif %}
{% if page.timeseries.resource_namespace %}
    <h5>And your namespace is </h5>
    <h5>{{page.timeseries.resource_namespace}}</h5>
{% endif %}
</div>

<h3>Download the Time Series</h3>
<div class="container">
    <div class='row well'>
        <div class="col-md-12">
        {% if page.timeseries.resource_file %}
            <a class='btn btn-lg btn-primary' href='{{page.timeseries.resource_file.url}}'>{{ page.timeseries.resource_file.url}}<\a>
        {% else %}
            <h5>No file available</h5>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block main_data %}
    <form role="form-horizontal" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="resource-file">Resource file</label>
            <input type="file" name="resource_file" id="resource-file"/>
        </div>
        <div class="form-group">
            <label for="resource-url">Resource URL</label>
            <input type="url" name="resource_url" id="resource-url"/>
        </div>
    </form>
{% endblock %}
